In [ ]:
#Instalar librerías
!pip install pandas
!pip install numpy
!pip install matplotlib

In [3]:
#Importar librerías: pandas y numpy
import pandas as pd 
import numpy as np
import io

#Leer el contenido del archivo
df = pd.read_excel('Inmuebles.xlsx', index_col=2) 
#df = pd.read_excel('Inmuebles.xlsx') 
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 3337 entries, Parking to Parking
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Referencia    3337 non-null   int64
 1   Fecha Alta    3337 non-null   datetime64[ns]
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   int64
 5   Precio Venta  3337 non-null   int64
 6   Fecha Venta   2759 non-null   datetime64[ns]
 7   Vendedor      2759 non-null   object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 234.6+ KB

,Referencia,Fecha Alta,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Tipo,,,,,,,,
Parking,1,2004-01-01,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
Local,2,2004-01-01,Venta,Girona,199,1945424,2004-04-19,Pedro
Oficina,3,2004-01-01,Alquiler,Girona,82,712416,2004-11-08,Joaquín
Parking,4,2004-01-02,Alquiler,Girona,285,1815450,2004-04-27,Jesús
Suelo,5,2004-01-02,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...
Industrial,3333,2007-04-29,Alquiler,Lleida,221,1450644,NaT,NaN
Piso,3334,2007-04-29,Alquiler,Girona,55,454080,NaT,NaN
Suelo,3335,2007-04-30,Venta,Tarragona,78,740688,NaT,NaN
Piso,3336,2007-04-30,Alquiler,Barcelona,88,397408,NaT,NaN
Parking,3337,2007-04-30,Venta,Lleida,254,2140712,NaT,NaN

In [3]:
#FILTROS BASICOS PARA VARIABLES CUALITATIVAS
#Conocer las operaciones de la provincia de Barcelona
#Filtro por objeto
filtro1=df[df["Provincia"] == "Barcelona"]
filtro1

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
12,13,2004-01-04,Parking,Venta,Barcelona,300,2937300,2004-11-04,Jesús
17,18,2004-01-06,Suelo,Venta,Barcelona,283,1679605,2004-06-06,Carmen
19,20,2004-01-08,Oficina,Alquiler,Barcelona,148,1169496,2004-08-19,María
20,21,2004-01-09,Industrial,Venta,Barcelona,228,2020992,2004-06-12,Carmen
24,25,2004-01-10,Oficina,Alquiler,Barcelona,124,1170684,2004-05-23,Jesús
...,...,...,...,...,...,...,...,...,...
3325,3326,2007-04-25,Industrial,Alquiler,Barcelona,296,2078216,NaT,NaN
3326,3327,2007-04-25,Suelo,Alquiler,Barcelona,161,999005,NaT,NaN
3328,3329,2007-04-26,Piso,Venta,Barcelona,264,2517504,NaT,NaN
3329,3330,2007-04-27,Parking,Venta,Barcelona,88,612568,NaT,NaN
3335,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT,NaN

In [4]:
#Convertir este primer filtro a CSV
filtro1.to_csv("filtro1.csv")

In [8]:
#Filtro por filas
#filtro2=df.iloc[500:600,: ] #Filas consecutivas
filtro2=df.iloc[ [1050, 2050, 3050] , : ]  #filas no consecutivas 
filtro2

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
1050,1051,2005-01-12,Parking,Venta,Lleida,246,1940448,2005-10-08,Pedro
2050,2051,2006-01-11,Parking,Venta,Tarragona,130,1275560,2006-11-13,María
3050,3051,2007-01-11,Casa,Venta,Barcelona,259,1369333,NaT,NaN

In [9]:
#Convertir el segundo filtro a CSV
filtro2.to_csv("filtro2.csv")

In [10]:
#Filtro por columnas
filtro3=df.iloc[ : , 3:6] #columnas consecutivas
#filtro3=df.iloc[ : , [3,6,8]]  #columnas no consecutivas 
filtro3

     Operación  Provincia  Superficie
0     Alquiler     Lleida         291
1        Venta     Girona         199
2     Alquiler     Girona          82
3     Alquiler     Girona         285
4        Venta  Tarragona         152
...        ...        ...         ...
3332  Alquiler     Lleida         221
3333  Alquiler     Girona          55
3334     Venta  Tarragona          78
3335  Alquiler  Barcelona          88
3336     Venta     Lleida         254

[3337 rows x 3 columns]

In [ ]:
#Convertir el tercer filtro a CSV
filtro3.to_csv("filtro3.csv")

In [5]:
#Filtro de filas vs columnas 
#Este filtro permite conocer los precios de venta de todos los locales y oficinas registrados en la base de datos
filtro4=df.loc[["Local","Oficina"], ["Precio Venta"]]
filtro4

         Precio Venta
Tipo
Local         1945424
Local          664700
Local          549780
Local          659330
Local          939072
...               ...
Oficina        394250
Oficina        293172
Oficina        807432
Oficina        463424
Oficina       1031320

[943 rows x 1 columns]

In [ ]:
#Convertir el cuarto filtro a CSV
filtro4.to_csv("filtro4.csv")